<header class="d-flex flex-wrap justify-content-start align-items-center shadow fixed-top border-bottom">
  <a href="/" class="d-flex align-items-start mb-1 mb-md-0 me-md-auto text-dark text-decoration-none">
    <span class="fs-4 h3 mx-5 alert">E-keûr</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a routerLink="/gestionBien" class="nav-link" >gestion Bien</a></li>
    <li class="nav-item"><a routerLink="/gestionEtudaint" class="nav-link">gestion des client</a></li>
    <li class="nav-item"><a routerLink="/liste_rendez-vous" class="nav-link">gestion rendez-vous</a></li>
    <li class="nav-item"><a routerLink="/user" class="nav-link">profil</a></li>
  </ul>

</header>
