<header class="d-flex flex-wrap justify-content-start align-items-center shadow fixed-top border-bottom">
  <a href="/" class="d-flex align-items-start mb-1 mb-md-0 me-md-auto text-dark text-decoration-none">
    <span class="fs-4 h3 mx-5 alert">E-keûr</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a routerLink="/gestionBien" class="nav-link" >gestion Bien</a></li>
    <li class="nav-item"><a routerLink="/gestionEtudaint" class="nav-link">gestion des client</a></li>
    <li class="nav-item"><a routerLink="/gestion rendez-vous" class="nav-link">gestion rendez-vous</a></li>
    <li class="nav-item"><a routerLink="/user" class="nav-link">profil</a></li>
  </ul>

</header>

<section class="py-5 m-0 p-0 text-center home">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Vous étes dans E-KEUR</h1>
      
    </div>
  </div>
</section>

<div class="container">
  <div class="row py-5 ">
    <div class="col-sm-12">
      <div class="card shadow">
        <div class="card-header">
          <h4 class="card-title"> tableau des render-vous</h4>
          <button type="button" class="btn btn-primary " (click)="openAjoutRV()"><i class="icon ion-md-add "></i></button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <tr>
                  <th scope="col">N render-vouz</th>
                  <th scope="col">Lieu</th>
                  <th scope="col">Date</th>
                  <th scope="col">Heure</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of rendervous.data">
                  <th scope="1">{{item.id}}</th>
                  <td>{{item.adresse}}</td>
                  <td>{{item.date}}</td>
                  <td>{{item.heure}}</td>
                  <button type="button" class="btn btn-danger mr-2 "  ><i class="icon ion-md-trash"></i></button>
                  <button type="button" class="btn btn-secondary mr-2" ><i class="icon ion-md-brush"></i></button>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<nz-modal [(nzVisible)]="AjoutRVIsvisible" nzTitle="Ajouter Rendez-vous" [nzFooter]="null">
  <ng-container *nzModalContent>
    <form nz-form>

      <nz-form-item>
        <nz-form-control nzErrorTip="L'adressse est requi!">
          <nz-input-group>
            <input type="text" nz-input formControlName="lieu" placeholder="lieu" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="L'adressse est requi!">
          <nz-input-group>
            <input type="text" nz-input formControlName="date" placeholder="date" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="L'adressse est requi!">
          <nz-input-group>
            <input type="text" nz-input formControlName="heure" placeholder="heure" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="L'adressse est requi!">
          <nz-input-group>
            <input type="text" nz-input formControlName="adresse" placeholder="adresse" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <button nz-button   (click)="addRv()" [nzType]="'primary'">envoyer</button>

    </form>
  </ng-container>
</nz-modal>


